/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* main css */
@font-face {
	font-family: 'Karla';
	src: url('/fonts/Karla-Regular.ttf') format('truetype');
}
html,
body {
	height: auto;
}
body {
	background-color: #222222;
	color: white;
	font-family: 'Karla', sans-serif;
}
a {
	text-decoration: none;
	transition: 0.15s text-shadow ease;
	font-weight: bold;
	color: white;
}
a:visited {
	color: white;
}
a:hover,
a:visited:hover {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.3);
}

.page-wrapper {
	/* min-height: 100vh; */
	width: 100%;
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.main {
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.logo {
	font-size: 2.2em;
}
.header-container {
	padding-left: 150px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	width: 50%;
	padding-top: 40px;
	padding-left: 150px;
	background-color: transparent;
	transition: all 0.3s ease;
	z-index: 3;
}
.header-container.scrolled {
	background-color: rgba(46, 46, 46, 0.8);
	backdrop-filter: blur(10px);
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
	padding: 15px;
}
.nav-list {
	font-size: 1em;
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	gap: 29px;
}
.main-container {
	height: 95vh;
}
.main-container--primary {
	padding-left: 150px;
	display: grid;
	grid-template-columns: 5fr 3fr;
	align-items: center;
	justify-content: center;
}
.primary-text {
	padding-top: 150px;
}
.primary-text h1 {
	font-size: 5em;
	height: 100%;
	margin: 0 0 20px;
}
.primary-image {
	height: 100%;
	width: 100%;
}
.primary-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.subtitle {
	font-size: 2em;
	color: #ccc;
}
.features-list {
	font-size: 1.3em;
	list-style: none;
	padding: 0;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.features-list strong {
	font-size: 2.7em;
	vertical-align: middle;
}
.features-list li {
	gap: 5px;
	align-items: center;
}
.icon svg {
	color: orange;
	vertical-align: middle;
	margin-right: 8px;
}
.order-button {
	padding: 30px 50px;
	background-color: white;
	border-radius: 4px;
	color: black;
	border: none;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	transition: 0.2s all ease-in;
}
.order-button:hover {
	background-color: #83c7b6c0;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.main-container--secondary {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
}
.main-container--secondary img {
	width: 100%;
	height: 100%;
}
.secondary-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
	height: 100%;
}
.benefits-list {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.benefits-list--item {
	display: flex;
	padding-inline: 40px;
	align-items: center;
}
.divider {
	height: 1px;
	background-color: #55565a;
	margin: 20px 0;
}
.main-container--third {
	padding-inline: 150px;
	display: flex;
	justify-content: center;
	position: relative;
}
.contacts {
	width: 100%;

	border-radius: 30px;
	height: 80%;
	overflow: hidden;
}
.contacts__image-block img {
	object-fit: cover;
	width: 100%;
}
.contacts__content {
	width: 100%;
	height: 100%;
	background-color: #f8f9fa;
	border-radius: 30px;
	overflow: hidden;
	padding-inline: 60px;
	gap: 40px;
	display: grid;
	grid-template-columns: 4fr 3fr;
}
.contacts__form-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contacts__title {
	font-size: 3rem;
	line-height: 1.3;
	margin-bottom: 1.5rem;
	color: #38535d;
}
.contacts__form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 20px;
}
.contacts__input {
	padding: 15px 20px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	font-size: 1rem;
}
.contacts__checkbox-label {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 0.9rem;
	color: #555;
}

.contacts__button {
	padding: 32px;
	background-color: #282829;
	font-size: 1rem;
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
}
.contacts__button:hover {
	background-color: #38535d;
	transform: translateY(-2px);
}
.contacts__button:disabled {
	background-color: gray;
}
.contacts__image-block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	object-fit: contain;
	background-image: url('../images/house-three.jpg');
	background-size: cover;
}

.woman {
	position: absolute;
	bottom: -0px;
	left: 60%;
	height: auto;
	max-height: 100%;
	object-fit: contain;
	z-index: 2;
	pointer-events: none;
}

.footer {
	width: 100%;
	background-color: #222222;
	padding-bottom: 40px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.footer__content {
	margin: 0 auto;
}

.footer__nav {
	margin-bottom: 30px;
}

.footer__links {
	padding: 30px;
	border-block: 2px #d5c9be solid;
	display: flex;
	flex-wrap: wrap;
	gap: 20px 40px;
	justify-content: center;
}

.footer__link {
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: text-shadow 0.3s;
}

.footer__info {
	padding-inline: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	max-width: 100%;
}

.footer-block {
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 14px;
}

.footer-social {
	display: flex;
	gap: 50px;
}

.footer-social img {
	color: #d5c9be;
	width: 1.5rem;
	filter: invert(93%);
	transition: all 0.2s ease;
}
.footer-social img:hover {
	filter: invert(55%);
}

.footer__block-link {
	color: #d5c9be;
	text-decoration: none;
	font-size: 14px;
	transition: color 0.3s;
}

.footer__legal-link:hover {
	color: #333;
	text-decoration: underline;
}

@media (max-width: 1201px) {
	.header-container {
		padding-left: 75px;
	}
	.main-container--primary {
		padding-left: 75px;
	}
	.primary-text h1 {
		font-size: 3.5rem;
		height: 100%;
		margin: 0 0 20px;
	}
	.primary-text p {
		font-size: 1.3em;
	}
	.primary-text strong {
		font-size: 1.3em;
	}
	.order-button {
		padding: 10px 20px;
		font-size: 1em;
	}
	.main-container--secondary {
		display: grid;
		height: 100%;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.main-container--secondary img {
		width: 100%;
		height: 95%;
	}
	.secondary-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	.benefits-list {
		font-size: 1rem;
		display: flex;
		flex-direction: column;

		gap: 30px;
	}
	.benefits-list--item .icon svg {
		width: 45px;
	}
	.contacts {
		height: 70%;
	}

	.contacts__content {
		grid-template-columns: 5fr 4fr;
	}

	.contacts__title {
		font-size: 2.4rem;
	}

	.woman {
		max-height: 80%;
	}
}

@media (max-width: 1100px) {
	.main-container {
		height: 90vh;
	}

	.primary-image img {
		z-index: -999;
	}
	.header-container {
		padding-left: 65px;
	}
	.main-container--primary {
		padding-left: 65px;
	}
	.primary-text h1 {
		font-size: 2rem;
	}
	.primary-text p {
		font-size: 1em;
	}
	.primary-text strong {
		font-size: 1em;
	}
	.features-list {
		font-size: 1rem;
	}
	.order-button {
		padding: 10px 20px;
		font-size: 1em;
	}
	.main-container--secondary {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.secondary-image--first {
		height: 100%;
	}
	.secondary-image--second {
		display: none;
	}
	.secondary-text {
		justify-content: space-between;
		height: 95%;
	}

	.contacts__content {
		grid-template-columns: 1fr 1fr;
	}

	.contacts__title {
		font-size: 2.1rem;
	}

	.woman {
		max-height: 60%;
		left: 60%;
	}
	.contacts__button {
		padding: 12px 20px;
	}
}

@media (max-width: 780px) {
	.header-container {
		width: 100%;
		justify-content: space-evenly;
		background-color: rgba(46, 46, 46, 0.8);
		backdrop-filter: blur(10px);
		padding: 10px;
	}
	.main-container--primary {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.primary-image img {
		max-height: 20%;
		order: 1;
	}
	.primary-text {
		background-color: rgba(46, 46, 46, 0.8);
		backdrop-filter: blur(10px);
		/* align-items: center; */
		justify-content: center;
		flex-direction: column;
		padding: 20px;
		display: flex;
		position: absolute;
		order: 2;
		border-radius: 13px;
	}

	.primary-text h1 {
		font-size: 2.5rem;
	}
	.main-container--secondary {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.secondary-text {
		position: absolute;
		height: auto;
		gap: 0;
		padding-inline: 30px;
	}

	.benefits-list {
		border-radius: 13px;
		background-color: rgba(46, 46, 46, 0.8);
		backdrop-filter: blur(10px);
		gap: 0;
		padding: 30px;
		font-size: 0.9rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.benefits-list--item {
		width: 100%;
	}
	.woman {
		display: none;
	}

	.contacts__content {
		grid-template-columns: 1fr 1fr;
	}

	.contacts__title {
		font-size: 2rem;
	}

	.contacts__button {
		padding: 12px 20px;
	}

	.main-container--third {
		padding-inline: 30px;
		display: flex;
		justify-content: center;
		position: relative;
	}

	.contacts__image-block img {
		object-fit: cover;
	}
}

@media (max-width: 630px) {
	.main {
		gap: 50px;
	}
	.logo {
		font-size: 1.5rem;
	}
	.nav-list {
		font-size: 0.7rem;
	}
	.order-button {
		padding: 7px 14px;
		font-size: 0.8rem;
	}
	.main-container--primary {
		align-items: end;
		justify-content: end;
	}
	.primary-text {
		padding: 10px;
		margin: 20px;
	}
	.primary-text h1 {
		font-size: 2rem;
	}
	.features-list {
		font-size: 0.9rem;
	}

	.secondary-text {
		padding-inline: 20px;
	}

	.benefits-list {
		font-size: 0.8rem;
	}

	.main-container--third {
		padding: 20px;
	}
	.contacts__content {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		gap: 20px;
	}
	.contacts__form-block {
		width: 80%;
		height: 100%;
	}

	.contacts__title {
		font-size: 1.6rem;
		text-wrap: wrap;
		text-align: center;
	}

	.contacts__button {
		padding: 7px 14px;
	}

	.contacts__image-block {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.contacts__input {
		padding: 5px 10px;
		border-radius: 4px;
		font-size: 0.8rem;
	}

	.footer__info {
		flex-direction: column;
		gap: 30px;
	}
	.footer-block {
		gap: 15px;
	}
	.footer__link {
		font-size: 0.8rem;
	}
}
